/* ========== */
/* RESET CSS */
/* ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  transition: 0.3s linear;
}

/* Smooth scroll */
html {
  scroll-behavior: smooth;
}

/* Background website */
body {
  font-family: "Poppins", sans-serif;
  background: #010103;
  color: white;
}

section {
  padding: 100px 7%;
}

/* =========== */
/* HEADER/NAVBAR */
/* =========== */

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  /* Flexbox */
  display: flex;

  /* Logo kiri menu kanan */
  justify-content: space-between;

  /* Rata tengah vertikal */
  align-items: center;

  padding: 20px 7%;
  background: black;
  border-bottom: 1px solid #222;
}

/* logo */
.logo {
  font-size: 32px;
  font-weight: 700;
  color: white;
}

/* Warna titik logo */
.logo span {
  color: #c59d5f;
}

/* Link navbar */
.navbar a {
  margin: 0 15px;
  color: white;
  font-size: 18px;
}

/* Hover navbar */
.navbar a:hover {
  color: #c59d5f;
}

/* Kumpulan icons */
.icons {
  display: flex;
  gap: 20px;
  font-size: 22px;
  cursor: pointer;
}

/* Hamburger awalnya disembunyikan */
#menu-btn {
  display: none;
}

/* ========== */
/* HERO SECTION */
/* ========== */

.home {
  /* Tinggi 1 layar penuh */
  min-height: 100vh;

  /* Flexbox */
  display: flex;
  align-items: center;

  /* Background gambar */
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("istockphoto-1135695208-612x612.webp");

  background-size: cover;
  background-position: center;
}

/* Content hero */
.home .content {
  max-width: 600px;
}

/* Judul hero  */
.home .content h1 {
  font-size: 65px;
  line-height: 1.2;
}

.home .content span {
  color: #c59d5f;
}

/* Paragraph hero */
.home .content p {
  font-size: 18px;
  margin: 20px 0;
  line-height: 1.8;
}

/* Tombol */
.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 14px 35px;
  background: #c59d5f;
  color: white;
  font-size: 18px;
  border-radius: 8px;
}

/* Hover tombol */
.btn:hover {
  letter-spacing: 1px;
}

.heading {
  text-align: center;
  font-size: 45px;
  margin-bottom: 50px;
}

.heading span {
  color: #c59d5f;
}

/* ============== */
/* ABOUT */
/* ============== */

.about .row {
  /* Flexbox */
  display: flex;
  align-items: center;
  background: #13131a;

  /* Responsive */
  flex-wrap: wrap;
}

/* Gambar */
.about .row .image {
  flex: 1 1 45rem;
}

.about .row .image img {
  width: 100%;
}

/* Isi text */
.about .row .content {
  flex: 1 1 45rem;
  padding: 30px;
}

.about .row .content h3 {
  font-size: 35px;
}

.about .row .content p {
  font-size: 17px;
  padding: 15px 0;
  line-height: 1.8;
  color: #ccc;
}

/* ========================= */
/* MENU */
/* ========================= */

.menu .box-container {
  /* Grid */
  display: grid;
  /* Responsive otomatis */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
}

/* Card menu */
.menu .box {
  text-align: center;
  border: 1px solid #222;
  padding: 40px 20px;
}

/* Hover card  */
.menu .box:hover {
  background: aqua;
  color: black;
}

.menu .box img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.menu .box h3 {
  font-size: 25px;
  margin: 15px 0;
}

.menu .box .price {
  font-size: 20px;
}

.contact .row {
  display: flex;
  background: #13131a;
  gap: 20px;
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  min-height: 450px;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 50px 20px;
  text-align: center;
}

.contact .row form h3 {
  font-size: 35px;
  margin-bottom: 30px;
}

.inputBox {
  display: flex;
  align-items: center;
  margin: 20px 0;
  background: #010103;
  border: 1px solid #222;
}

.inputBox span {
  color: white;
  font-size: 20px;
  padding: 20px;
}

.inputBox input {
  width: 100%;
  padding: 20px;
  font-size: 17px;
  background: none;
  color: white;
}

/* ========== */
/* FOOTER */
/* ========== */

.footer {
  background: #c59d5f;
  text-align: center;
  padding: 15px 7%;
  border-top: 1px solid #222;
}

.footer .socials {
  padding: 10px;
}

.footer .socials a {
  color: white;
  font-size: 18px;
  margin: 0 8px;
}

.footer .socials a:hover {
  color: #010103;
}

.footer .links {
  margin: 10px;
}

.footer .links a {
  color: white;
  margin: 0 10px;
  font-size: 15px;
}

.footer .links a:hover {
  color: #010103;
}

.footer .credit {
  font-size: 14px;
}

.footer .credit span {
  color: #222;
}

/* ========== */
/* Responsiv */
/* ========== */

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }

  .contact .row {
    flex-wrap: wrap;
  }
  /* navbar HP */
  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    background: #13131a;
    width: 250px;
    height: 100vh;
  }

  /* Saat active */
  .navbar.active {
    right: 0;
  }

  /* Menu vertikal */
  .navbar a {
    display: block;
    margin: 25px;
    font-size: 20px;
  }

  .home .content h1 {
    font-size: 45px;
  }

  .heading {
    font-size: 35px;
  }
}
